@import "tailwindcss";

html,
body {
  background: #fafafa;
  color: #171717;
  font-family: ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", "Malgun Gothic", "Apple SD Gothic Neo", sans-serif;
}
